@font-face {
  font-family: Nu;
  src: url(./assets/Fonts/NeueMontreal-Regular.otf);
}
@font-face {
  font-family: Clash;
  src: url(./assets/Fonts/ClashGrotesk-Medium.ttf);
}
:root {
  --primary-color: #fff;
  --secondary-color: #000;
}
::selection {
  background: none;
  color: #dd4b39;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Clash;
  cursor: none;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  position: relative;
  width: 100%;
}
.loader {
  position: fixed;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 55;
}
.loader .box {
  overflow: hidden;
}
.loader h1 {
  font-size: 8vw;
  font-weight: normal;
}
.main {
  position: relative;
  overflow: hidden;
}
.cursor {
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: all ease 0.1s;
  z-index: 6;
  pointer-events: none;
}
.tag {
  position: fixed;
  z-index: 10;
  padding: 1vw 3vw;
  mix-blend-mode: difference;
}
.tag span {
  font-size: 1.7vw;
  font-weight: bold;
  font-family: Nu;
  display: inline-block;
  color: var(--primary-color);
}
nav {
  cursor: pointer;
  position: fixed;
  height: 3.5vw;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  width: 40vw;
  border-radius: 100px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 10px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  z-index: 7;
}
nav a:not(:last-child) {
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.4vw;
  font-weight: bold;
  position: relative;
}
nav .resume{
  color: var(--primary-color);
  text-decoration: none;
}
nav .cv {
  cursor: pointer;
  font-size: 1vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1vw;
  border-radius: 100px;
  border: 0;
  outline: 0;
  margin-right: -22px;
  font-weight: lighter;
  transition: background 0.6s ease-out;
}
nav .cv:hover {
  background: linear-gradient(
    to right,
    rgb(184, 21, 184),
    rgb(16, 113, 204),
    rgb(15, 236, 163)
  );
}
nav a.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 100px;
  background: linear-gradient(
    to right,
    rgb(184, 21, 184),
    rgb(16, 113, 204),
    rgb(15, 236, 163)
  );
  bottom: -0.2vw;
  left: 0;
}

.social {
  position: absolute;
  z-index: 7;
}
.social .linkedin {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 268px;
  height: 40px;
  width: 40px;
  background: #007bb5;
  transition: width 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-color);
}
.social .linkedin i {
  font-size: 1.4em;
  padding-left: 8px;
  cursor: pointer;
}
.social .linkedin a {
  text-decoration: underline;
  color: var(--primary-color);
  margin-left: 11px;
  visibility: hidden;
  cursor: pointer;
}
.social .linkedin:hover {
  cursor: pointer;
  width: 200px;
}
.social .linkedin:hover a {
  visibility: visible;
  transition: all ease-in 0.8s;
}
.social .twitter {
  position: fixed;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 309px;
  height: 40px;
  width: 40px;
  background: #55acee;
  transition: width 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-color);
}
.social .twitter i {
  font-size: 1.4em;
  padding-left: 8px;
  cursor: pointer;
}
.social .twitter a {
  text-decoration: underline;
  color: var(--primary-color);
  margin-left: 11px;
  visibility: hidden;
  cursor: pointer;
}
.social .twitter:hover {
  cursor: pointer;
  width: 180px;
}
.social .twitter:hover a {
  visibility: visible;
  transition: all ease-in 0.8s;
}
.social .github {
  position: fixed;
  top: 350px;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40px;
  background-color: green;
  transition: width 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-color);
}
.social .github i {
  font-size: 1.4em;
  padding-left: 8px;
  cursor: pointer;
}
.social .github a {
  text-decoration: underline;
  color: var(--primary-color);
  margin-left: 11px;
  visibility: hidden;
  cursor: pointer;
}
.social .github:hover {
  cursor: pointer;
  width: 180px;
}
.social .github:hover a {
  visibility: visible;
  transition: all ease-in 0.8s;
}
.social .gmail {
  position: fixed;
  top: 391px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40px;
  width: 40px;
  background: #dd4b39;
  transition: width 0.4s ease-out;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social .gmail i {
  font-size: 1.4em;
  padding-left: 8px;
  cursor: pointer;
}
.social .gmail a {
  text-decoration: underline;
  color: var(--primary-color);
  margin-left: 11px;
  visibility: hidden;
  cursor: pointer;
}
.social .gmail:hover {
  cursor: pointer;
  width: 220px;
}
.social .gmail:hover a {
  visibility: visible;
  transition: all ease-in 0.4s;
}
.hero {
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.hero .video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.hero .video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero .profile {
  position: relative;
}
.hero .profile #profile {
  background: linear-gradient(
    to right,
    rgb(184, 21, 184),
    rgb(16, 113, 204),
    rgb(15, 236, 163)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.5vw;
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  font-family: Clash;
  z-index: 2;
  top: 2vw;
  left: -23.7vw;
  white-space: nowrap;
}
.hero .one {
  margin-top: 4vw;
  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: 10vw;
  line-height: 1;
  font-family: Clash;
}
.hero #circle {
  height: 4vw;
  width: 4vw;
  background-color: var(--primary-color);
  border-radius: 100px;
  margin: 20px;
  background: linear-gradient(
    to right,
    rgb(184, 21, 184),
    rgb(16, 113, 204),
    rgb(15, 236, 163)
  );
  box-shadow: 1px 1px 40px 10px rgb(209, 61, 209);
  animation: rotate 1.6s infinite linear;
  transition: scale 0.4s ease-in-out, transform 0.4s ease;
}

@keyframes rotate {
  0%,
  25% {
    transform: scale(0.4);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
#hero-btn{
  display: none;
}
.hero h4 {
  bottom: 5%;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 100px;
  font-size: 2vw;
  padding: 2px 20px;
  animation: lift 3s infinite linear;
  z-index: 5;
}
@keyframes lift {
  0%,
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(-50%);
  }
  100%,
  0% {
    transform: translateY(50%);
  }
}
.about {
  border-top: 1px solid var(--primary-color);
  height: fit-content;
  width: 100vw;
  background-color: var(--primary-color);
}
.about .upper-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
  margin-top: 3.5vw;
  overflow: hidden;
}
.about .upper-text h4 {
  font-size: 2vw;
  font-family: Nu;
  font-weight: normal;
}
.about .upper-text h4 a {
  font-size: 2vw;
  font-family: Nu;
  font-weight: normal;
  text-decoration: none;
  color: var(--secondary-color);
}
.about .about-box {
  overflow: hidden;
  height: 2.4vw;
}
.about .about-box h4 {
  transition: transform ease 0.4s;
}
.about .about-box:hover h4 {
  transform: translateY(-100%);
}

.about .border-div {
  height: 2px;
  width: 0;
  background-color: var(--secondary-color);
  margin: 5px auto;
}
.about .about-text {
  width: 88%;
  margin: 3vw auto;
}
.about p {
  display: inline;

  font-size: 3vw;
  font-family: Nu;
  line-height: 1.3;
  background: linear-gradient(
    to left,
    rgb(173, 173, 173) 50%,
    rgb(0, 0, 0) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about p .line {
  display: inline-block;
  height: 3px;
  width: 0px;
  background-color: var(--secondary-color);
  margin: 0.8vw 0.5vw;
}
.about-text {
  padding-bottom: 2vw;
}
.about p img {
  width: 2vw;
}
.about p .para-bg {
  height: 4vw;
  width: 220px;
  background: url("https://xgjzloifyvgpbmyonaya.supabase.co/storage/v1/object/public/files/IEM_tfLzSX/original");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  border-radius: 100px;
  margin: -0.7vw 1vw;
}
.about .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 3vw;
}
.about .heading img {
  animation: star 2s linear infinite;
}
@keyframes star {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about .heading h1 {
  font-size: 4vw;
  position: relative;
  overflow: hidden;
}

.about .heading h1::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 20px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform ease-in-out 0.4s;
}
.about .heading h1:hover::after {
  transform-origin: bottom left;
  transform: scalex(1);
}
.about .skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.about .skills {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
}
.about .skills img {
  width: 8vw;
  padding-top: 0.5vw;
}
.about .skills .html {
  position: relative;
}
.about .skills .tooltip {
  text-align: center;
  padding-top: 0.2vw;
}
.about .skills .tooltip h3 {
  font-family: Nu;
  font-size: 1.2vw;
}
.about .skills .html .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  width: 6vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .html:hover .tooltip {
  visibility: visible;
}
.about .skills .html .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 2vw;
}
.about .skills .css {
  position: relative;
}
.about .skills .css .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  width: 6vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .css:hover .tooltip {
  visibility: visible;
}
.about .skills .css .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.about .skills .js {
  position: relative;
}
.about .skills .js .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  min-width: 6vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .js:hover .tooltip {
  visibility: visible;
}
.about .skills .js .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.about .skills .tailwind {
  position: relative;
}
.about .skills .tailwind .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  min-width: 8vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .tailwind:hover .tooltip {
  visibility: visible;
}
.about .skills .tailwind .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.about .skills .react {
  position: relative;
}
.about .skills .react .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  width: 6vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .react:hover .tooltip {
  visibility: visible;
}
.about .skills .react .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.about .skills .redux {
  position: relative;
}
.about .skills .redux .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  width: 6vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .redux:hover .tooltip {
  visibility: visible;
}
.about .skills .redux .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.about .skills .next {
  position: relative;
}
.about .skills .next .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  width: 6vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .next:hover .tooltip {
  visibility: visible;
}
.about .skills .next .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.about .skills .gsap {
  position: relative;
}
.about .skills .gsap .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  width: 6vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .gsap:hover .tooltip {
  visibility: visible;
}
.about .skills .gsap .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.about .skills .git {
  position: relative;
}
.about .skills .git .tooltip {
  position: absolute;
  top: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(146, 136, 136, 0.384);
  height: 2vw;
  min-width: 8vw;
  border-radius: 10px;
  visibility: hidden;
}
.about .skills .git:hover .tooltip {
  visibility: visible;
}
.about .skills .git .tooltip::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 1vw solid rgba(146, 136, 136, 0.384);
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid transparent;
  bottom: -1.9vw;
  left: 38%;
}
.services {
  padding-top: 4vw;
  height: fit-content;
  width: 100vw;
  background-color: var(--primary-color);
}
.services .upper-text {
  padding: 0vw 5vw;
  margin-top: 3.5vw;
  overflow: hidden;
}
.services .upper-text h4 {
  font-size: 2vw;
  font-family: Nu;
  font-weight: normal;
}
.services .border-div {
  height: 2px;
  width: 0%;
  background-color: var(--secondary-color);
  margin: 5px auto;
}
.services .hover-texts {
  padding: 4vw 0vw 0vw 4vw;
}
.services .hover-texts .hover-top {
  width: fit-content;
}
.services .hover-texts span {
  display: inline-block;
  font-size: 10vw;
  font-family: Clash;
  letter-spacing: -3px;
  transition: transform ease 0.6s;
}
.services .hover-texts h1 {
  font-size: 10vw;
  font-family: Clash;
  letter-spacing: -3px;
  font-weight: normal;
  line-height: 1;
  margin-top: -3vw;
}
.services .hover-texts1 {
  padding: 4vw 4vw 0vw 0vw;
  text-align: right;
  max-width: fit-content;
  margin-left: 37vw;
}
.services .hover-texts1 span {
  display: inline-block;
  font-size: 10vw;
  font-family: Clash;
  letter-spacing: -3px;
  transition: transform ease 0.6s;
}
.services .hover-texts1 h1 {
  font-size: 10vw;
  font-family: Clash;
  letter-spacing: -3px;
  font-weight: normal;
  line-height: 1;
  margin-top: -3vw;
}
.projects {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
}
.projects .upper-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
  padding-top: 3.5vw;
  overflow: hidden;
}
.projects .upper-text h3 {
  font-size: 2vw;
  font-family: Nu;
  font-weight: normal;
}
.projects .upper-text .projects-box h3 a {
  font-size: 2vw;
  font-family: Nu;
  font-weight: normal;
  text-decoration: none;
  color: var(--secondary-color);
}
.projects .upper-text .projects-box {
  overflow: hidden;
  height: 2.4vw;
}
.projects .upper-text .projects-box h3 {
  transition: transform ease 0.4s;
}
.projects .upper-text .projects-box:hover h3 {
  transform: translateY(-100%);
}
.projects .border-div {
  height: 2px;
  width: 0%;
  background-color: var(--secondary-color);
  margin: 5px auto;
}
.projects h1 {
  font-family: Clash;
  font-size: 10vw;
  font-weight: normal;
  padding: 2vw 0vw 2vw 5vw;
}
.projects .projects-container .project {
  height: 40vw;
  width: 100vw;
  padding: 2vw 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects .projects-container .project a{
  text-decoration: none;
  color: var(--secondary-color);
}
.projects .projects-container .project .left {
  height: 100%;
  width: 60%;
  background-color: #e8e8e8;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .projects-container .project .left:hover .video {
  transform: scale(1.1);
}
.projects .projects-container .project .left .video {
  /* background-color: red; */
  height: 50%;
  transition: transform ease 0.4s;
  width: 60%;
  border-radius: 2vw;
  overflow: hidden;
}
.projects .projects-container .project .left .video video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.projects .projects-container .project .right {
  width: 40%;
  padding-left: 4vw;
  padding-top: 5vw;
}
.projects .projects-container .project .right .buttons {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.projects .projects-container .project .right button {
  border: 1px solid black;
  width: 11vw;
  border-radius: 100px;
  padding: 1vw 2vw;
  margin-right: 0vw;
  font-size: 1.5vw;
  font-family: Clash;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  transition: width 0.4s ease;
}
.projects .projects-container .project .right button:hover {
  width: 14vw;
}
.projects .projects-container .project .right button svg {
  display: none;
}
.projects .projects-container .project .right button:hover svg {
  display: block;
}

.projects .projects-container .project .right h3 {
  font-family: Clash;
  font-size: 4vw;
  font-weight: normal;
  padding-top: 1vw;
}
.projects .projects-container .project .right h5 {
  font-family: Clash;
  font-size: 2vw;
  font-weight: normal;
  color: rgb(43, 43, 43);
}
.projects .project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 0vw;
}
.projects .project-btn a {
  text-decoration: none;
}
.projects .project-btn button {
  width: 27vw;
  padding: 1.5vw 3vw;
  border-radius: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 3vw;
  font-family: Clash;
  font-weight: normal;
  gap: 1vw;
  transition: width ease 0.4s;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.projects .project-btn button i {
  display: none;
}
.projects .project-btn button:hover {
  width: 30vw;
  color: var(--primary-color);
}
.projects .project-btn button:hover i {
  fill: var(--primary-color);
  stroke: var(--primary-color);
  stroke-width: 1.5;
}
.projects .project-btn button:hover i {
  display: block;
}
.projects .project-btn button::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  transition: all ease 0.4s;
  z-index: -1;
}
.projects .project-btn button:hover::after {
  bottom: 0;
  left: 0;
  border-radius: 0;
}
.contact {
  border-top: 0.1px solid var(--primary-color);
  min-height: fit-content;
  width: 100vw;
  background-color: var(--primary-color);
}
.contact .upper-text {
  padding: 0vw 5vw;
  margin-top: 3.5vw;
  overflow: hidden;
}
.contact .upper-text h4 {
  font-size: 2vw;
  font-family: Nu;
  font-weight: normal;
}
.contact .border-div {
  height: 2px;
  width: 0%;
  background-color: var(--secondary-color);
  margin: 5px auto;
}
.contact .contact-texts {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  padding: 10vw 0vw;
  line-height: 1;
}
.contact .contact-texts h4 {
  font-size: 1.7vw;
  font-weight: lighter;
}
.contact .contact-texts h1 {
  font-size: 14vw;
  font-family: Clash;
  overflow: hidden;
}
.contact .contact-texts a {
  color: var(--secondary-color);
  text-decoration: none;
  position: relative;
}
.contact .contact-texts h2 {
  font-size: 9vw;
  font-weight: normal;
  font-family: Clash;
}
.contact .contact-texts a::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 10%;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: var(--secondary-color);
  transition: transform ease 0.6s;
}
.contact .contact-texts a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
footer {
  height: fit-content;
  width: 100vw;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  color: var(--primary-color);
  justify-content: space-between;
  padding: 1vw 4vw;
}
footer h1 {
  font-family: Nu;
  font-weight: normal;
  font-size: 1.4vw;
}
footer .atags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4vw;
}
footer .atags a {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
}
footer .atags a::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform ease 0.4s;
}
footer .atags a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer .back-top {
  color: var(--primary-color);
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  padding-right: 4vw;
}
footer .back-top a {
  text-decoration: none;
}
footer .back-top h3 {
  font-family: Nu;
  white-space: nowrap;
  font-size: 1.6vw;
  font-weight: normal;
  color: var(--primary-color);
  position: relative;
}
footer .back-top h3::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform ease 0.4s;
}
footer .back-top h3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer .back-top a i {
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  background-color: var(--primary-color);
  font-size: 1.5vw;
  color: var(--secondary-color);
}


/* Responsive */
@media (max-width:600px) {
  
.loader h1 {
  font-size: 12vw;
}
  .tag {
  padding: 5vw 3vw 0vw 3vw;
  mix-blend-mode: difference;
}
.tag span {
  font-size: 6vw;
}
.cursor {
  display: none;
}
nav{
  display: none;
}
.social .linkedin {
  top: 350px;
}
.social .twitter{
  top: 392px;
}
.social .github{
  top: 433px;
}
.social .gmail{
  top: 473px;
}
.hero .profile #profile {
  font-size: 12vw;
  top: -15vw;
  left: -38vw;
}
.hero .one {
  margin-top: 0vw;
  display: flex;
  align-items: center;
}
.hero h1 {
  font-size: 15vw;
}
.hero h4 {
  display: none;
  bottom: 5%;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 100px;
  font-size: 2vw;
  padding: 2px 20px;
  animation: lift 3s infinite linear;
  z-index: 5;
}
#hero-btn{
  display: block;
  background-color: transparent;
  bottom: 5%;
  border: 1px solid white;
  position: absolute;
  color: var(--primary-color);
  border-radius: 50%;
  padding: 10px 10px;
  animation: lift 5s infinite linear;
  z-index: 5;
}
#hero-btn i{
  font-size: 10vw;
  font-weight: normal;
}
.about{
  height: fit-content;
}
.about .upper-text {
  padding: 0vw 5vw;
  margin-top: 3.5vw;
  overflow: hidden;
}
.about .upper-text h4 {
  font-size: 5vw;
  font-family: Nu;
  font-weight: normal;
}
.about .upper-text h4 a {
  font-size: 5vw;
}
.about .about-box {
  overflow: hidden;
  height: 6.2vw;
}
.about .about-box svg{
  height: 5vw;
  width: 5vw;
}
.about .about-box h4 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.about p {
  font-size: 5vw;
}

.about p .line {
  height: 3px;
  width: 0px;
  background-color: var(--secondary-color);
  margin: 0.8vw 0.5vw;
}
.about-text {
  padding-bottom: 2vw;
}
.about p img {
  width: 5vw;
}
.about p .para-bg {
  height: 5vw;
  width: 100px;
}
.about .heading{
  margin-top: 10vw;
}
.about .heading h1 {
  font-size: 10vw;
}
.about .skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.about .skills {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7vw;
}
.about .skills img {
  width: 20vw;
  padding-top: 2vw;
}
.services .upper-text h4 {
  font-size: 5vw;
}
.services .upper-text h4 a {
  font-size: 5vw;
}
.services .hover-texts span {
  font-size: 15vw;
}
.services .hover-texts h1 {
  font-size: 15vw;
}
.services .hover-texts1{
  margin-left: 12vw;
}
.services .hover-texts1 span {
  font-size: 15vw;
}
.services .hover-texts1 h1 {
  font-size: 15vw;
}
.projects .upper-text h3 {
  font-size: 5vw;
}
.projects .upper-text .projects-box h3 a {
  font-size: 5vw;
}
.projects .upper-text .projects-box {
  height: 6.2vw;
}
.projects .upper-text .projects-box h3 svg{
  height: 5vw;
  width: 5vw;
}
.projects .upper-text .projects-box h3 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.projects h1 {
  font-size: 15vw;
  padding: 2vw 0vw 2vw 5vw;
}
.projects .projects-container .project .right button {
  width: 16vw;
  font-size: 2.5vw;

}
.projects .projects-container .project .right button:hover {
  width: 19vw;
}
.projects .projects-container .project .right {
  padding-left: 2vw;
  margin-right: 2vw;
}
.projects .projects-container .project .right h5 {
  font-size: 3.5vw;
}
.projects .project-btn button {
  width: 42vw;
  font-size: 5vw;
}
.projects .project-btn{
  padding-top: 5vw;
}
.projects .project-btn button:hover {
  width: 46vw;
}
.contact .upper-text h4 {
  font-size: 5vw;
}
.contact .contact-texts h4 {
  font-size: 5vw;
}
.contact .contact-texts h1 {
  font-size: 20vw;
}
.contact .contact-texts h2 {
  font-size: 10vw;
  font-weight: normal;
  font-family: Clash;
}
footer h1 {
  font-size: 2vw;
}
footer .back-top {
  display: none;
}
}